body{
     background-image: url(trial.jpg);
     background-size: cover;
     background-attachment: fixed;
     text-align: center;
     background-position: relative;

}
.header{
     padding:0px;
     text-align:center;
     background:transparent;
     color:white;

}

.header h1{
     font-size: 30px;

}
.header .cn{
     background-color:transparent;
     cursor:pointer;
     border: none;
     

}
.header .cn a{
     text-decoration: none;
     overflow: hidden;
     background-color:orange;
     border:none;
     font-weight: bold;

}
.header .cn a:hover{
     background-color: white;
     transition: .4s ease;
     cursor: pointer;
}
.navbar{
     overflow:hidden;
     background-color: transparent;
     margin-left: 420px;
     margin-bottom: 20px;
     margin-top: 10px;
}
.navbar a{
     float:left;
     display:block;
     color:white;
     text-align: center;
     padding: 12px;
     text-decoration: none;
}
.navbar a:hover{
     background-color:orange;
     transition:.5s ease;
     cursor: pointer;
}
.search{
     width:330px;
     float:right;
     margin-left:270px;
}


.srch{
     font-family: times New Roman;
     width:200px;
     height:40px;
     background:Transparent;
     border:1px solid black;
     margin-top:13px;
     color:white;
     border-right: none;
     font-size: 16px;
     float: left;
     padding: 10px;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
}
.btn{
     width:100px;
     height:40px;
     background:orange;
     border:2px solid orange;
     margin-top: 13px;
     color:white;
     font-size:15px;
     border-bottom-right-radius: 5px;
     border-bottom-right-radius: 5px;

}
.search .btn:hover{
     background-color: powderblue;
     transition:0.4s ease;
     cursor:pointer;
}
.btn:focus{
     outline: none;
}
.srch:focus{
     outline: none;
}
table{
     color: white;
     text-align: center;
     margin-left: 450px;
}
.cn{
     background-color:transparent;
     color: white;
     border:none;
     font-size: 18px;
     font-weight: bold;
     
}
.cn a{
     text-decoration:none;
     border:none;
     color: white;
     display: block;
     float: left;
     padding: 14px;
     text-align: center;
}
.cn a:hover{
     cursor: pointer;
    background-color:orange;
    transition: 0.5s ease;
}
@media (max-width:700px){
     .navbar{
          font-size: 18px;
          display:block;
          position: absolute;
          height: 1000vh;
          width: 200px;
          margin: 20px;
          text-align: center;
          margin-left: 2px;
          padding: 0%;
     }
          
     .navbar a{
          padding: 0%;
          margin: 3%;
          display:inline-block;
          margin-bottom: 0%;
          display:flex;
          text-align: center;
     }
     table{
          text-align: center;
          font-size: 20px;
          margin: 200px;
          width: 600px;
          margin-left: 0%;
          margin-top: 150px;
          margin-bottom: 0%;      
     }
     .cn {
          margin-top:0%;
          padding-top:0%;

     }
     
     
}